<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4 >{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    currentPage is Zero
  </div>
  <div *ngSwitchCase="1">
    currentPage is One
  </div>
</div>-->

<!-- 
  implementing times directive
  <ul *appTimes="5" *** '5' might be replaced by some method like getTimes() and then it can get dynamic>
  <li>Hi there!</li>
</ul>-->